/* line 3, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/shared.sass */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

/* line 12, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/shared.sass */
body {
  background-color: #000;
  box-sizing: border-box;
  color: #757575;
}

/* line 17, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/shared.sass */
.a11y-text {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

/* line 25, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/shared.sass */
.list-unstyled {
  list-style: none;
  margin: 0;
}

/* line 30, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/shared.sass */
.thumbnails-2-cols {
  list-style: none;
  margin: 0;
}

/* line 34, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/shared.sass */
.thumbnails-2-cols li:nth-child(odd) {
  margin: 0;
}

/* line 38, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/shared.sass */
.thumbnail.round {
  border-radius: 50%;
}

/* line 41, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/shared.sass */
.thumbnails-4-cols {
  list-style: none;
  margin: 0;
}

/* line 45, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/shared.sass */
.thumbnails-4-cols li:nth-child(4n+1) {
  margin: 0;
}

/* Mixins */
/* =============================================
  Overrides for bootstrap CSS
 @mixin ============================================*/
/* line 7, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
.navbar-inner {
  border: 0;
  padding: 0;
}

/* Sections (Shared) */
/* line 13, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
section.next-episode, section.about, section.music, section.guests, section.anime, section.games, section.drinks, section.photos, section.charities, section.partners, section.sign-up-form, section.performer, section.contact {
  margin-bottom: 50px;
}

/* line 28, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
section.next-episode li, section.about li, section.music li, section.guests li, section.anime li, section.games li, section.drinks li, section.photos li, section.charities li, section.partners li, section.sign-up-form li, section.performer li, section.contact li {
  margin-bottom: 10px;
}

/* line 31, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
section.next-episode .heading, section.about .heading, section.music .heading, section.guests .heading, section.anime .heading, section.games .heading, section.drinks .heading, section.photos .heading, section.charities .heading, section.partners .heading, section.sign-up-form .heading, section.performer .heading, section.contact .heading {
  border-bottom: 1px solid #fff;
  color: #fff;
  margin-bottom: 25px;
  padding-bottom: 20px;
}

/* line 37, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
section.next-episode .sub-heading, section.about .sub-heading, section.music .sub-heading, section.guests .sub-heading, section.anime .sub-heading, section.games .sub-heading, section.drinks .sub-heading, section.photos .sub-heading, section.charities .sub-heading, section.partners .sub-heading, section.sign-up-form .sub-heading, section.performer .sub-heading, section.contact .sub-heading {
  text-align: center;
}

/* line 40, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
section.next-episode .col1, section.about .col1, section.music .col1, section.guests .col1, section.anime .col1, section.games .col1, section.drinks .col1, section.photos .col1, section.charities .col1, section.partners .col1, section.sign-up-form .col1, section.performer .col1, section.contact .col1 {
  margin: 0;
}

/* line 44, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
section.next-episode .event-details .icon, section.about .event-details .icon, section.music .event-details .icon, section.guests .event-details .icon, section.anime .event-details .icon, section.games .event-details .icon, section.drinks .event-details .icon, section.photos .event-details .icon, section.charities .event-details .icon, section.partners .event-details .icon, section.sign-up-form .event-details .icon, section.performer .event-details .icon, section.contact .event-details .icon {
  color: white;
  font-size: 36px;
  display: inline-block;
  margin-right: 15px;
  text-align: center;
  width: 36px;
}

/* =============================================
  Common stylings
 @mixin ============================================*/
/* Section: Hero Banner */
/* line 56, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
section.hero-unit {
  padding-bottom: 0;
}

/* Section: Social Media */
/* line 61, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
section.social-media {
  margin-bottom: 30px;
  text-align: right;
}

/* line 65, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
section.social-media .link {
  margin-right: 10px;
  text-decoration: none;
}

/* line 69, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
section.social-media .icon {
  color: #fff;
  font-size: 40px;
}

/* line 73, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
section.social-media .icon.facebook:hover {
  color: #3f51b5;
}

/* line 76, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
section.social-media .icon.twitter:hover {
  color: #87ceeb;
}

/* line 79, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
section.social-media .icon.instagram:hover {
  color: #9c27b0;
}

/* Section: Upcoming Episode */
/* line 85, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
section.next-episode .event-wrapper {
  margin-bottom: 25px;
  overflow: hidden;
}

/* line 89, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
section .subheading.ad {
  color: #ff5600;
}

/* line 92, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
section .subheading.la {
  margin-top: 40px;
}

/* Section: About */
/* line 98, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
section.about .thumbnails-2-cols {
  margin-top: 20px;
}

/* line 101, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
section.about .thumbnails-2-cols .thumbnail {
  border: 0;
}

/* line 104, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
section.about .promo-video {
  text-align: center;
  margin: 40px 0;
}

/* Section: Music */
/* line 112, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
section.music .music-list li {
  text-align: center;
}

/* line 115, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
section.music .music-list .music-name {
  margin-bottom: 25px;
}

/* line 119, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
section.music .thumbnail.round {
  border: 0;
  margin: 0 auto;
  width: 80%;
}

/* Section: Guests */
/* line 128, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
section.guests .guests-list li {
  text-align: center;
}

/* line 131, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
section.guests .guests-list .guests-name {
  margin-bottom: 25px;
}

/* line 135, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
section.guests .thumbnail.round {
  border: 0;
  margin: 0 auto;
  width: 80%;
}

/* Section: Anime */
/* line 143, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
section.anime .frm-anime-survey {
  margin-top: 25px;
}

/* line 147, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
section.anime .frm-anime-survey label > span {
  min-height: 18px;
}

/* Section: Games */
/* line 153, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
section.games .frm-games-survey {
  margin-top: 25px;
}

/* line 157, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
section.games .frm-games-survey label > span {
  min-height: 18px;
}

/* Section: Drinks */
/* line 164, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
section.drinks .specials-list .list-item {
  text-align: center;
}

/* line 167, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
section.drinks .specials-list .list-item .specials-photo {
  width: 100%;
}

/* line 170, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
section.drinks .beer-list {
  margin-left: 0;
}

/* line 173, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
section.drinks .beer-list .heading {
  border: 0;
  margin: 40px 0 20px 0;
  padding: 0;
  text-align: center;
}

/* line 179, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
section.drinks .draft-list,
section.drinks .bottled-list {
  margin: 0;
  overflow: hidden;
}

/* line 184, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
section.drinks .draft-list .list-item,
section.drinks .bottled-list .list-item {
  float: left;
  text-align: center;
  width: 33%;
}

/* line 189, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
section.drinks .draft-list .list-item .draft-photo,
section.drinks .draft-list .list-item .bottled-photo,
section.drinks .bottled-list .list-item .draft-photo,
section.drinks .bottled-list .list-item .bottled-photo {
  width: 15vh;
}

/* Section: Photos */
/* line 196, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
section.photos .photos-list {
  overflow: hidden;
}

/* line 199, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
section.photos .photos-list .list-item {
  max-height: 16vh;
  overflow: hidden;
}

/* line 203, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
section.photos .photos-list .list-item .photo {
  width: 25vh;
}

/* Section: Charities */
/* line 211, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
section.charities .charity-list .list-item .charity-photo {
  width: 25vh;
}

/* =============================================
  Media queries
 @mixin ============================================*/
@media (min-width: 768px) and (max-width: 979px) {
  /* line 219, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
  .navbar-fixed-left .container {
    width: 104px;
  }
}

@media (max-width: 767px) {
  /* line 224, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
  .navbar-fixed-left {
    margin-right: -20px;
    margin-left: -20px;
  }
}

@media (max-width: 979px) {
  /* line 230, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
  .container-main-content {
    margin-top: 40px;
  }
  /* line 233, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
  .navbar {
    position: fixed;
    width: 100%;
  }
  /* line 239, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
  .navbar .nav > li .icon {
    color: white;
    font-size: 30px;
    margin-right: 10px;
  }
  /* line 243, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
  .navbar .nav > li .title {
    display: inline-block;
    font-size: 2.8vh;
    margin: 0;
  }
  /* line 249, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
  section.hero-unit {
    display: none;
  }
  /* line 257, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
  section.drinks .draft-list .list-item .draft-photo,
  section.drinks .draft-list .list-item .bottled-photo,
  section.drinks .bottled-list .list-item .draft-photo,
  section.drinks .bottled-list .list-item .bottled-photo {
    width: 12vh;
  }
}

@media (min-width: 980px) {
  /* line 263, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
  body {
    padding: 0;
  }
  /* line 266, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
  .hero-unit {
    background-color: #000;
    display: block;
  }
  /* Navbar */
  /* line 271, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
  .container-navbar {
    margin: 0;
  }
  /* line 274, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
  .container-navbar .navbar {
    height: 100vh;
    overflow: auto;
    position: fixed;
  }
  /* line 279, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
  .container-navbar .navbar .nav {
    margin: 0;
    max-width: 110px;
  }
  /* line 283, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
  .container-navbar .navbar .nav > li {
    color: #fff;
    float: none;
    padding: 15px;
    text-align: center;
  }
  /* line 289, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
  .container-navbar .navbar .nav > li.active {
    background-color: #111;
  }
  /* line 292, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
  .container-navbar .navbar .nav > li > a {
    color: #fff;
    padding: 0;
  }
  /* line 296, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
  .container-navbar .navbar .nav > li .icon {
    color: white;
    font-size: 30px;
  }
  /* line 299, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
  .container-navbar .navbar .nav > li .title {
    font-size: 12px;
    line-height: 20px;
    margin: 10px 0 0 0;
    text-transform: uppercase;
  }
  /* line 309, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
  section.drinks .specials-list .list-item .specials-photo {
    width: 40%;
  }
}

@media (min-width: 1200px) {
  /* line 314, /Users/yuini/workspace/barcon/boozeanimerock.github.io/sass/main.sass */
  .navbar-fixed-left .container {
    width: 170px;
  }
}

/*# sourceMappingURL=../css/main.map */